/* @import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities'; */

body {
  /*background-color: red !important;*/
}

.jose-jaime {
  color: blue;
  background: blue;
}

