body {
  background-color: #fdfdfd;
}

.ui.menu {
  margin-bottom: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.ui.menu .hamburger {
  display: none !important;
}
@media (max-width: 720px) {
  .ui.menu .right .item {
    display: none;
  }
  .ui.menu .hamburger {
    display: block !important;
    color: white;
  }
}

.subtitle-header {
  padding: 5px 15px;
  background-color: white;
  box-shadow: 0 1px 4px -3px #000;
}
.subtitle-header h4 {
  margin-top: 10px;
  margin-bottom: 2px;
}

main {
  min-height: calc( 100vh - 130px);
}

.page-description {
  margin-top: 25px;
}

.main {
  margin-top: 25px;
  padding: 20px 25px;
  box-shadow: 1px 1px 8px -5px #000;
  border-radius: 6px;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.grid-container .action {
  font-size: 1.25rem;
  padding: 20px 25px;
  font-weight: bold;
}
@media (max-width: 720px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 480px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
}

.grid-departures {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.grid-departures .button {
  border-radius: 0 !important;
}
.grid-departures .hour {
  display: flex;
  justify-content: center;
  padding: 0px;
}
.grid-departures .hour a {
  margin: 0;
  padding: 20px 25px;
}
.grid-departures .hour.i {
  color: white !important;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.spacer {
  margin: 15px 0;
}

ul.pager {
  list-style: none;
  display: inline-block;
  margin: 20px auto;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
ul.pager li {
  display: inline-block;
  padding: 5px 6.5px;
  margin: 0;
  border-radius: 6px;
  color: #fbbd08;
}
ul.pager li a {
  color: #6435c9;
}
ul.pager li a:hover {
  color: #fbbd08;
}
ul.pager li.nav-next {
  border: none;
}
ul.pager li.nav-prev {
  border: none;
}
ul.pager li.disabled {
  color: #ebebeb;
}
ul.pager li.active {
  border: 1px solid rgba(34, 36, 38, 0.1);
  color: #fbbd08;
}

.bus-layout {
  padding: 15px !important;
}
.bus-layout .ui.grid > span {
  padding: 3px;
}
.bus-layout span {
  text-align: center;
}
.bus-layout .hall {
  background-color: #ebebeb;
  min-width: 25px;
}
.bus-layout .first-floor, .bus-layout .second-floor {
  /*padding: 15px;*/
}
.bus-layout .first-floor h3, .bus-layout .second-floor h3 {
  margin: 10px 0;
}
.bus-layout .taken {
  color: #000000;
  cursor: default !important;
}
.bus-layout .available {
  color: #ebebeb;
}
.bus-layout .selection {
  color: green;
}

footer {
  padding: 25px 0;
  background-color: #000;
  color: white;
}

a {
  color: #6435c9;
}
a i {
  margin-left: 2.5px;
  vertical-align: middle;
}
a .svg-inline--fa {
  margin-left: 2.5px;
  vertical-align: middle;
}

a.disabled {
  opacity: 0.5;
}

.fa-edit {
  color: #fbbd08;
}
.fa-edit.fa-2x {
  font-size: 1.75rem;
}

.fa-eye {
  color: #6435c9;
}
.fa-eye.fa-2x {
  font-size: 1.75rem;
}

.fa-trash-alt {
  color: #db2828;
}
.fa-trash-alt.fa-2x {
  font-size: 1.75rem;
}
