//==================================
// Variables
//==================================

$yellow: #fbbd08;
$magenta: #6435c9;
$red: #db2828;
$blue: #2185d0;

body {
    background-color: #fdfdfd;
}
//==================================
// Menu
//==================================
.ui.menu {
    margin-bottom: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;

    .hamburger {
        display: none !important;
    }

    @media ( max-width: 720px ) {
        .right {
            .item {
                display: none;
            }
        }
        .hamburger {
            display: block !important;
            color: white;
        }
    }

}
.subtitle-header {
    padding: 5px 15px;
    background-color: white;
    box-shadow: 0 1px 4px -3px #000;

    h4 {
        margin-top: 10px;
        margin-bottom: 2px;
    }
}
main {
    min-height: calc( 100vh - 130px);
}
.page-description {
    margin-top: 25px;
}
.main {
    margin-top: 25px;
    padding: 20px 25px;
    box-shadow: 1px 1px 8px -5px #000;
    border-radius: 6px;
}
//==================================
// GRID Buttons
//==================================
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    .action {
        font-size: 1.25rem;
        padding: 20px 25px;
        font-weight: bold;
    }

    @media ( max-width: 720px ) {
        grid-template-columns: 1fr 1fr;
    }

    @media ( max-width: 480px ) {
        grid-template-columns: 1fr;
    }
}
.grid-departures {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;

    .button {
        border-radius: 0 !important;
    }

    .hour {
        display: flex;
        justify-content: center;
        padding: 0px;

        a {
            margin: 0;
            padding: 20px 25px;
        }

        &.i {
            color: white !important;
        }
    }

}
//==================================
// customs
//==================================
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
.spacer {
    margin: 15px 0;
}
ul.pager {
    list-style: none;
    display: inline-block;
    margin: 20px auto;
    text-align: center;
    padding: 5px;
    border-radius: 10px;

    li {
        display: inline-block;
        padding: 5px 6.5px;
        //border: 1px solid rgba(34,36,38,.1);
        margin: 0;
        border-radius: 6px;
        color: $yellow;

        a {
            color: $magenta;

            &:hover {
                color: $yellow;
            }
        }

        &.nav-next {
            border: none;
        }
        &.nav-prev {
            border: none;
        }
        &.disabled {
            color: #ebebeb;
        }
        &.active {
            border: 1px solid rgba(34,36,38,.1);
            color: $yellow;
        }
    }
}
.bus-layout {

    .ui.grid > span {
        padding: 3px;
    }
    span {
        text-align: center;
    }
    .hall {
        background-color: #ebebeb;
        min-width: 25px;
    }
    .first-floor, .second-floor {
        /*padding: 15px;*/
        h3 {
            margin: 10px 0;
        }
    }

    padding: 15px !important;
    .taken {
        color: #000000;
        cursor: default !important;
    }
    .available {
        color: #ebebeb;
    }
    .selection {
        color: green;
    }
}
///=============================
/// Footer
///=============================
footer {
    padding: 25px 0;
    background-color: #000;
    color: white;
}

///=============================
/// Fa new colors
///=============================
a {
    color: $magenta;
    i {
        margin-left: 2.5px;
        vertical-align: middle;
    }
    .svg-inline--fa {
        margin-left: 2.5px;
        vertical-align: middle;
    }
}
a {
    &.disabled {
        opacity: 0.5;
    }
}
.fa-edit {

    &.fa-2x {
        font-size: 1.75rem;
    }

    color: $yellow;
}
.fa-eye {

    &.fa-2x {
        font-size: 1.75rem;
    }

    color: $magenta;
}
.fa-trash-alt {

    &.fa-2x {
        font-size: 1.75rem;
    }

    color: $red;
}
